{{#if isPublished}}
  <i class="fa fa-calendar-check-o text-success"></i> <strong>Publicado em:</strong> {{moment-format publicationDate "DD/MM/YYYY h:mm a"}}
  <button type="button" {{action "unPublish"}} class="btn btn-default btn-sm"><i class="fa fa-window-close text-danger"></i> Despublicar</button>
{{else}}
  {{#if (eq publishMethod.id 'unPublished')}}<i class="fa fa-calendar-times-o text-danger"></i>{{/if}}
  {{#if (eq publishMethod.id 'on_create')}}<i class="fa fa-calendar-check-o text-success"></i>{{/if}}
  {{#if (eq publishMethod.id 'schendule')}}<i class="fa fa-calendar text-primary"></i>{{/if}} <strong>{{publishMethod.text}}</strong> <button type="button" {{action 'openEditor'}} href="javascript:;" class="btn btn-link btn-sm">Editar</button>
  {{#if (eq publishMethod.id 'schendule')}}
    <div>Para: {{moment-format publicationDate "DD/MM/YYYY h:mm a"}}</div>
  {{/if}}

  {{#if editorIsOpen}}
  <div class="publication-form">
    {{#power-select
      options=publishMethods
      selected=newPublishMethod
      allowClear=false
      onchange=(action "changePublishMethod" newPublishMethod)
      as |m|
    }}{{m.text}}{{/power-select}}

    {{#if showDatePicker}}
      <div class="field-content-publication-date-picker">
        {{date-time-picker
          minDate=minDate
          onChange=(action "changeDate")
          date=(readonly newPublicationDate)
        }}
      </div>
    {{/if}}

    <div class="actions">
      <button type="button" {{action 'savePublicationDate'}} class="btn btn-sm btn-primary">Ok</button>
      <button type="button" {{action 'cancelChanges'}} class="btn btn-sm btn-link">Cancelar</button>
    </div>
  </div>
  {{/if}}
{{/if}}