<table class="table table-bordered">
  {{#if value}}
    <thead>
      <tr>
        <th>Nome:</th>
        <th>Descrição:</th>
        <th>Tipo:</th>
        <th>Ações:</th>
      </tr>
    </thead>
  {{/if}}
  <tbody>
  {{#each value as |file|}}
    <tr>
      <td class="file-table-name">
        {{file.name}}
      </td>
      <td class="file-table-description">
        {{file.description}}
      </td>
      <td class="file-table-mime">
        {{file.mime}}
      </td>
      <td class="file-table-actions">
        <button class="btn btn-sm btn-default" {{action 'removeFile' file}}>
          <i class="glyphicon glyphicon-remove text-danger"></i> {{t 'file.remove'}}
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
  {{#if canAddMore}}
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-sm btn-default" {{action 'openFileUploader'}}>
            <i class="glyphicon glyphicon-plus"></i> {{t 'file.Add'}}
          </button>
        </td>
      </tr>
    </tfoot>
  {{/if}}
</table>
