<table class="table table-bordered image-uploader-table">
  <tbody>
  {{#each value as |image|}}
    {{image-uploader-tr
      image=image
      removeImage="removeImage"
    }}
  {{/each}}
  </tbody>
  {{#if canAddMore}}
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-sm btn-default" {{action 'openImageUploader'}}>
            <i class="glyphicon glyphicon-plus"></i> {{t 'image.Add'}}
          </button>
        </td>
      </tr>
    </tfoot>
  {{/if}}
</table>

{{#bs-modal
  open=uploadingImage
  onSubmit=(action "upload")
  onHidden=(action "onHideUploadModal")
    as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-picture"></i> {{t 'image.selector'}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#if error}}
      <div class="alert alert-danger text-center" role="alert">{{{error}}}</div>
    {{else}}

      {{#bs-tab as |tab|}}
        {{#tab.pane title="Upload / enviar"}}

          <div class="image-selected-list">
            {{#each upload.imagesToUpload as |item|}}
              {{file-upload-image-item item=item}}
            {{/each}}
          </div>
          {{#if canSelectMore}}
            {{file-upload-image-selector multiple=multiple}}
          {{/if}}

        {{/tab.pane}}
        {{#tab.pane title="Selecionar imagem salva"}}
          {{we-images-to-select onSelectImage=(action 'onSelectSalvedImage')}}
        {{/tab.pane}}
      {{/bs-tab}}

    {{/if}}
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default" class="cancel-image-btn"}}
      {{t 'Cancel'}}
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary" disabled=upload.notReadyToUpload class="submit-image-btn"}}
      Salvar imagens e adicionar
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}