<div>
  <img src="{{ENV.API_HOST}}{{record.urls.thumbnail}}" style="max-width: 100%;">
</div>

<div><strong>Tamanho:</strong> {{record.size}}</div>
<div><strong>Encoding:</strong> {{record.encoding}}</div>
<div><strong>Mime:</strong> {{record.mime}}</div>
<div><strong>Ext:</strong> {{record.extension}}</div>
<div><strong>storageName:</strong> {{record.storageName}}</div>