
{{#if (eq publishStatus 'published')}}
  <div><i class='glyphicon glyphicon-check text-success'></i> {{t publishStatus}}</div>
{{/if}}

{{#if (eq publishStatus 'scheduled-future')}}
  <div><i class="fa fa-calendar text-primary"></i> {{t publishStatus}}</div>
  <div>{{moment-format record.publishedAt "DD/MM/YYYY h:mm a"}}</div>
{{/if}}

{{#if (eq publishStatus 'scheduled-old')}}
  <div><i class="fa fa-calendar text-primary"></i> {{t publishStatus}}</div>
  <div>{{moment-format record.publishedAt "DD/MM/YYYY h:mm a"}}</div>
{{/if}}

{{#if (eq publishStatus 'unpublished')}}
  <div><i class="fa fa-calendar-times-o text-danger"></i> {{t publishStatus}}</div>
{{/if}}