{{#if model.record.id}}
<h1 class="page-header">
  {{t 'vocabulary.edit' name=model.record.name}}
</h1>
{{else}}
<h1 class="page-header">{{t 'vocabulary.create'}}</h1>
{{/if}}

<form {{action "save" model.record model.alias on="submit"}}>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Data'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-vocabulary-name'}}*:</label>
              {{input value=model.record.name class="form-control" placeholder=(t 'form-placeholder-vocabulary-name') required="required"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-vocabulary-description'}}:</label>
              {{textarea value=model.record.description class="form-control" placeholder=(t 'form-placeholder-vocabulary-description')}}
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="col-md-4 main-sidebar">
      {{#if model.record.id}}
        <div class="panel panel-default">
          <div class="panel-heading">URL</div>
          <div class="panel-body">
            <div class="form-group">
              <label>URL de acesso*:</label>
              {{input name="setAlias" value=model.alias.alias class="form-control" placeholder="Ex /sobre" }}
              <p class="help-block">URL/caminho de acesso à página, use um texto simples sem espaço ou acentuação. Ex /sobre</p>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="col-md-12">
      <button class="btn btn-primary">
        <i class="fa fa-save"></i>
        {{t 'Save'}}
      </button>
      <button {{action 'goTo' 'vocabulary.index'}} type="button" class="btn btn-default">
        <i class="fa fa-step-backward"></i>
        {{t 'vocabulary.find'}}
      </button>
    </div>

  </div>
</form>