<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{t 'menu.edit' name=model.record.name}}</h1>
  </div>
  <div class="col-md-3">
    <h4>Dados</h4>

    <div class="menu-form-area">
      <form {{action "save" model.record on="submit"}}>
        <fieldset>
          <div class="form-group">
            <label>{{t 'form-menu-name'}}*:</label>
            {{input value=model.record.name class="form-control" placeholder=(t 'form-placeholder-menu-name') required="required"}}
          </div>
          <div class="form-group">
            <label>{{t 'form-menu-class'}}:</label>
            {{textarea value=model.record.class class="form-control"}}
          </div>
        </fieldset>
        <div>
          <button class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{t 'Save'}}
          </button>
          <button {{action 'goTo' 'menus.index'}} type="button" class="btn btn-default">
            <i class="fa fa-step-backward"></i>
            {{t 'menu.find'}}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <div class="menu-links">
      <h4>Links</h4>
      <div class="menu-links-actions">
        <button class="btn btn-default" {{action 'openLinkForm'}}>
          <i class="glyphicon glyphicon-plus"></i> Adicionar link
        </button>
        {{#if model.record.sorted}}
          <button {{action 'saveLinksOrder' model.record.sortedLinks}} type="button" class="btn btn-primary">Salvar ordem</button>
        {{/if}}
      </div>
      <div>
        {{#sortable-group tagName="ul" class="list-group" onChange="reorderItems" as |group|}}
          {{#each model.record.sortedLinks as |item|}}
            {{#unless item.isNew}}
              {{#sortable-item tagName="li" class="list-group-item" model=item group=group handle=".handle"}}
                <button type="button" class="handle btn btn-default">
                  <i class="glyphicon glyphicon-resize-vertical"> </i>
                </button>
                {{item.text}} - <span class="label label-default">{{item.href}}</span>

                <button class="btn btn-sm btn-default" {{action 'openLinkForm' item}}>
                  <i class="glyphicon glyphicon-pencil"></i> {{t 'Edit'}}
                </button>
              {{/sortable-item}}
            {{/unless}}
          {{/each}}
        {{/sortable-group}}
      </div>
      <div class="menu-links-form">
        {{#bs-modal
          open=model.editingRecord
          onHidden=(action "onCloseLinkEditModal") as |modal|
        }}
          {{#modal.header}}
            {{#if model.editingRecord.id}}
              <h4 class="modal-title">
                <i class="glyphicon glyphicon-link"></i>
                {{t 'Edit'}}
              </h4>
            {{else}}
              <h4 class="modal-title">
                <i class="glyphicon glyphicon-link"></i>
                {{t 'link.create'}}
              </h4>
            {{/if}}
          {{/modal.header}}
          {{#modal.body}}
            {{partial 'links/form'}}
          {{/modal.body}}
          {{#modal.footer as |footer|}}
            {{#bs-button onClick=(action modal.close) type="default"}}
              {{t 'Cancel'}}
            {{/bs-button}}
            {{#bs-button onClick=(action modal.submit) type="primary"}}
              {{t 'Save'}}
            {{/bs-button}}
          {{/modal.footer}}
        {{/bs-modal}}
      </div>
    </div>

  </div>
</div>