<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{t 'menu.edit' name=model.record.name}}</h1>
  </div>
  <div class="col-md-12">
    <div>Nome do menu: '{{model.record.name}}'</div>
    {{#if model.record.class}}
      <div>Classes: "{{model.record.class}}"</div>
    {{/if}}
  </div>
  <div class="col-md-12">
    <div class="menu-links">
      <h4>Links</h4>
      <div class="menu-links-actions">
        {{#link-to 'menus.item.add-link' model.record.id class="btn btn-sm btn-default"}}
          <i class="glyphicon glyphicon-plus"></i> Adicionar link
        {{/link-to}}

        {{#if model.record.sorted}}
          <button {{action 'saveLinksOrder' model.record.sortedLinks}} type="button" class="btn btn-sm btn-primary">Salvar ordem
            {{#bs-tooltip placement="top"}}Clique para salvar a ordenação dos links do menu{{/bs-tooltip}}
          </button>
        {{else}}
           <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Salvar ordem
            {{#bs-tooltip placement="top"}}A lista de links está salva{{/bs-tooltip}}
           </button>
        {{/if}}
      </div>

      <div class="menu-links-sortable-wrapper">
        {{#if model.links}}
          <p class="help-block">Clique e arraste cada link abaixo para ordenar os links do menu.
          <br>A ordem só será salva após clicar no botão "Salvar ordem"
          </p>

          {{menu-links-sortable
            item          = model.links
            group         = 'menu-links'
            dragEndAction = (action 'dragEnd')
          }}
        {{/if}}
      </div>
      <br>
      <div class="menu-links-actions">
        {{#link-to 'menus.item.add-link' model.record.id class="btn btn-sm btn-default"}}
          <i class="glyphicon glyphicon-plus"></i> Adicionar link
        {{/link-to}}

        {{#if model.record.sorted}}
          <button {{action 'saveLinksOrder' model.record.sortedLinks}} type="button" class="btn btn-sm btn-primary">Salvar ordem
            {{#bs-tooltip placement="top"}}Clique para salvar a ordenação dos links do menu{{/bs-tooltip}}
          </button>
        {{else}}
           <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Salvar ordem
            {{#bs-tooltip placement="top"}}A lista de links está salva{{/bs-tooltip}}
           </button>
        {{/if}}
      </div>
    </div>

  </div>
</div>