<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{t 'menu.edit' name=model.record.name}}</h1>
  </div>

  <div class="col-md-12 menu-editinig-selector">
    <div class="panel panel-default">
      <div class="panel-body">
        Selecione um menu para editar {{#power-select
            options=model.menus
            selected=model.menuSelected
            searchEnabled=false
            allowClear=false
            onchange=(action (mut model.menuSelected) )
            as |menu|
          }}
            {{menu.name}}
          {{/power-select}}

          {{#if model.menuSelected.id}}
            {{#link-to 'menus.item' model.menuSelected.id class="btn btn-sm btn-default"}}
              Selecionar
            {{/link-to}}
          {{/if}}
          ou
          {{#link-to 'menus.create'}}
            crie um menu.
          {{/link-to}}
      </div>
    </div>
  </div>

  <div class="col-md-3 menu-item-editing-sidebar">
    {{#bs-accordion onChange=(action 'onChangeMenuComponent') selected=model.selectedMenuComponent as |acc|}}
      {{#each model.menuLinkSelectorComponents as |mlc index|}}
        {{#acc.item value=index as |aitem|}}
          {{#aitem.title}}
            {{mlc.title}} {{#if (eq model.selectedMenuComponent index)}}<i class="fa fa-minus pull-right text-primary" aria-hidden="true"></i>{{else}}<i class="fa fa-plus pull-right text-success" aria-hidden="true"></i>{{/if}}
          {{/aitem.title}}
          {{#aitem.body}}
            {{component mlc.componentName addLink="addLink"}}
          {{/aitem.body}}
        {{/acc.item}}
      {{/each}}
    {{/bs-accordion}}

  </div>
  <div class="col-md-9">
    <div class="panel panel-default menu-links-painel">
      <div class="panel-heading">

        <form class="form-inline">
          <div class="form-group">
            <label> Nome do menu:</label>
            {{input value=model.record.name class="form-control" required="required"}}
          </div>
          {{partial 'menus/partials/menu-form-actions'}}
        </form>
      </div>
      <div class="panel-body">

        <div class="menu-links">
          <h4>Estrutura do menu / links:</h4>

          <div class="menu-links-sortable-wrapper">
            {{#if model.links}}
              <p class="help-block">Clique e arraste cada link abaixo para ordenar os links do menu.
              <br>A ordem só será salva após clicar no botão "Salvar ordem"
              </p>

              {{menu-links-sort-list links=model.links.links onSortEnd="onSortEnd"}}
            {{/if}}
          </div>

          <hr>
          <div class="menu-settings">
            <h4>Configurações do menu</h4>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4">Localização de exibição:</label>
                  <div class="col-sm-8">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isMainMenu" checked={{model.isMainMenu}} {{action "menuUpdated" "isMainMenu" on="change"}} /> Menu principal
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isSecondaryMenu" checked={{model.isSecondaryMenu}} {{action "menuUpdated" "isSecondaryMenu" on="change"}} /> Menu lateral / secundário
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isFooterMenu" checked={{model.isFooterMenu}} {{action "menuUpdated" "isFooterMenu" on="change"}} /> Menu do rodapé
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isSocialMenu" checked={{model.isSocialMenu}} {{action "menuUpdated" "isSocialMenu" on="change"}} /> Menu das redes sociais
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isAuthenticatedMenu" checked={{model.isAuthenticatedMenu}} {{action "menuUpdated" "isAuthenticatedMenu" on="change"}} /> Menu do usuário autenticado
                      </label>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="menu-links-footer panel-footer">
        &nbsp;
        {{#if (gt model.record.id 2)}}
          <button class="btn btn-link" type="button" {{action 'deleteRecord' model.record}}><span class="text-danger">Deletar menu</span></button>
        {{/if}}
        {{partial 'menus/partials/menu-form-actions'}}
      </div>
    </div>
  </div>
</div>