<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{t 'menu.edit' name=model.record.label}}</h1>
  </div>

  <div class="col-md-12 menu-editinig-selector">
    <div class="panel panel-default">
      <div class="panel-body">
        Selecione um menu para editar {{#power-select
            options=model.menus
            selected=model.menuSelected
            searchEnabled=false
            allowClear=false
            onchange=(action (mut model.menuSelected) )
            as |menu|
          }}
            {{menu.label}}
          {{/power-select}}

          {{#if model.menuSelected.id}}
            {{#link-to 'menus.item' model.menuSelected.id class="btn btn-sm btn-default"}}
              Selecionar
            {{/link-to}}
          {{/if}}
          ou
          {{#link-to 'menus.create'}}
            crie um menu.
          {{/link-to}}
      </div>
    </div>
  </div>

  <div class="col-md-3">
    {{#bs-accordion as |acc|}}
      {{#acc.item value="1" title="First item"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
      {{/acc.item}}
      {{#acc.item value="2" as |aitem|}}
        {{#aitem.title}}
          <strong>Second</strong> <i>item</i>
        {{/aitem.title}}
        {{#aitem.body}}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
        {{/aitem.body}}
      {{/acc.item}}
      {{#acc.item value="3" title="Third item"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
      {{/acc.item}}
    {{/bs-accordion}}


    <div class="panel panel-default menu-links-painel">
      <div class="panel-heading">
      </div>
      <div class="panel-body">

      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default menu-links-painel">
      <div class="panel-heading">

        <form class="form-inline">
          <div class="form-group">
            <label> Nome do menu:</label>
            {{input value=model.record.label class="form-control" required="required"}}
          </div>
          {{partial 'menus/partials/menu-form-actions'}}
        </form>
      </div>
      <div class="panel-body">

        <div class="menu-links">
          <h4>Estrutura do menu / links:</h4>

          <div class="menu-links-sortable-wrapper">
            {{#if model.links}}
              <p class="help-block">Clique e arraste cada link abaixo para ordenar os links do menu.
              <br>A ordem só será salva após clicar no botão "Salvar ordem"
              </p>

              {{menu-links-sort-list links=model.links.links onSortEnd="onSortEnd"}}
            {{/if}}
          </div>

          <hr>
          <div class="menu-settings">
            <h4>Configurações do menu</h4>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4">Localização de exibição:</label>
                  <div class="col-sm-8">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isMainMenu" checked={{model.isMainMenu}} {{action "menuUpdated" "isMainMenu" on="change"}} /> Menu principal
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isSecondaryMenu" checked={{model.isSecondaryMenu}} {{action "menuUpdated" "isSecondaryMenu" on="change"}} /> Menu lateral / secundário
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isFooterMenu" checked={{model.isFooterMenu}} {{action "menuUpdated" "isFooterMenu" on="change"}} /> Menu do rodapé
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="isSocialMenu" checked={{model.isSocialMenu}} {{action "menuUpdated" "isSocialMenu" on="change"}} /> Menu das redes sociais
                      </label>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-link" type="button"><span class="text-danger">Deletar menu</span></button>
        {{partial 'menus/partials/menu-form-actions'}}
      </div>
    </div>
  </div>
</div>