{{#if item.isMenu}}
  <p class = "nestedItem-title">
  {{item.text}}
  </p>
{{else}}
  <p class = "nestedItem-title">
    <i class="fa fa-arrows" aria-hidden="true"></i> {{item.text}} [id:{{item.id}}]

    <span class="actions">
      {{#link-to 'menus.item.edit-link' item.menu.id item.id class="btn btn-sm btn-default"}}
        <i class="glyphicon glyphicon-pencil text-primary"></i>
        {{#bs-tooltip placement="top"}}Editar link [id:{{item.id}}]{{/bs-tooltip}}
      {{/link-to}}

      <a href="{{item.href}}" class="btn btn-default btn-sm" target="_blank">
        <i class="glyphicon glyphicon-share-alt"></i>
        {{#bs-tooltip placement="top"}}Abrir o endereço do link{{/bs-tooltip}}
      </a>

      <button class="btn btn-sm btn-default" {{action 'deleteLink' item}}>
        <i class="glyphicon glyphicon-remove text-danger"></i>
        {{#bs-tooltip placement="top"}}Deletar link [id:{{item.id}}]{{/bs-tooltip}}
      </button>
    </span>

  </p>
{{/if}}

{{#unless item.depth}}
  {{#drag-sort-list
    items               = item.links
    group               = group
    dragEndAction       = dragEndAction
    as |child|
  }}
    {{menu-links-sortable
      item          = child
      group         = group
      dragEndAction = dragEndAction
    }}
  {{/drag-sort-list}}

{{else}}
  {{#if (lt item.depth 2)}}
    {{#drag-sort-list
      items               = item.links
      group               = group
      dragEndAction       = dragEndAction
      as |child|
    }}
      {{menu-links-sortable
        item          = child
        group         = group
        dragEndAction = dragEndAction
      }}
    {{/drag-sort-list}}
  {{/if}}
{{/unless}}


