{{#if link.links}}
  <a href="#">{{{link.icon}}} {{link.text}}<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    {{#each link.links as |subLink|}}
      {{menu-admin-link link=subLink}}
    {{/each}}
  </ul>
{{else}}
  {{#link-to link.linkTo}}{{{link.icon}}} {{link.text}}{{/link-to}}
{{/if}}

