{{#if page.id}}
  <h1 class="page-header">Editar página "{{page.title}}"</h1>
{{else}}
  <h1 class="page-header">Criar página</h1>
{{/if}}

<form {{action "savePage" page alias on="submit"}}>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Data'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-title'}}*:</label>
              {{input value=page.title class="form-control" placeholder=(t 'form-placeholder-content-title') required="required"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-content-about'}}:</label>
              {{textarea value=page.about class="form-control"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-content-body'}}:</label>
              {{tinymce-editor
                options=editorOptions
                value=page.body
              }}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Images'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-featuredImage'}}:</label>
              {{image-uploader value=page.featuredImage}}
            </div>
            <div class="form-group">
              <label>{{t 'form-content-images'}}:</label>
              {{image-uploader value=page.images multiple=true}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Attachment'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-attachment'}}:</label>
              {{file-uploader value=page.attachment multiple=true}}
            </div>
          </fieldset>
        </div>
      </div>

      {{#if showActionBar}}
        <div>
          <button class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{t 'content.Save'}}
          </button>
          <button {{action 'goTo' 'contents.index'}} type="button" class="btn btn-default">
            <i class="fa fa-step-backward"></i>
            {{t 'content.find'}}
          </button>
        </div>
      {{/if}}
    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Title'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-tags'}}:</label>
              {{#power-select-multiple
                search=(action "searchTagsTerms")
                selected=page.tags
                onchange=(action (mut page.tags))
                as |term|
              }}
                {{term}}
              {{/power-select-multiple}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.publish.Title'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>
                {{input type="checkbox" checked=page.published}} {{t 'form-content-published'}}?
              </label>
              {{#if page.publishedAt}}
                <div class="form-group">
                  <strong>Publicado em:</strong> {{moment-format page.publishedAt "DD/MM/YYYY h:mm a"}}
                </div>
              {{/if}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Dates'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-createdAt'}}:</label>
              {{date-time-picker
                onChange=(action "changeDate" page "createdAt")
                date=(readonly page.createdAt)
              }}
            </div>
            <div class="form-group">
              <label>{{t 'form-content-updatedAt'}}:</label>
              {{date-time-picker
                onChange=(action "changeDate" page "updatedAt")
                date=(readonly page.updatedAt)
              }}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">URL</div>
        <div class="panel-body">
          <div class="form-group">
            <label>URL de acesso*:</label>
            {{input name="setAlias" value=alias.alias class="form-control" placeholder="Ex /sobre" }}
            <p class="help-block">URL/caminho de acesso à página, use um texto simples sem espaço ou acentuação. Ex /sobre</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
