<form class="{{tableDragId}}">

<div class="tableDragLoading text-center">
  <img src="/admin/loading.gif" alt="Carregando...">
</div>
<table id="{{tableDragId}}" class="table table-striped table-hover">
  <thead>
    <tr>
      <th we-model-attr="name">Texto</th>
      <th we-model-attr="weight">weight</th>
      <th we-model-attr="parent">parent</th>
      <th we-model-attr="actions">ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each links as |link|}}
      <tr id="tabledrad-item-{{link.id}}" class="draggable">
        <td> {{link.identation}}
          {{link.text}} [id:{{link.id}}]
          <input class="id" name="link-{{link.id}}-id" value="{{link.id}}" type="hidden" />
          <input class="row-depth" name="link-{{link.id}}-depth" value="{{link.depth}}" type="hidden" />
        </td>
        <td>
          <input class="row-weight" name="link-{{link.id}}-weight" type="text" value="{{link.weight}}">
        </td>
        <td>
          <input class="row-parent" name="link-{{link.id}}-parent" type="text" value="{{link.parent}}">
        </td>
        <td>
          {{#link-to 'menus.item.edit-link' link.menu.id link.id class="btn btn-sm btn-default"}}
            <i class="glyphicon glyphicon-pencil text-primary"></i>
            {{#bs-tooltip placement="top"}}Editar link [id:{{link.id}}]{{/bs-tooltip}}
          {{/link-to}}

          <a href="{{link.href}}" class="btn btn-default btn-sm" target="_blank">
            <i class="glyphicon glyphicon-share-alt"></i>
            {{#bs-tooltip placement="top"}}Abrir o endereço do link{{/bs-tooltip}}
          </a>

          <button class="btn btn-sm btn-default" {{action 'deleteLink' link links}}>
            <i class="glyphicon glyphicon-remove text-danger"></i>
            {{#bs-tooltip placement="top"}}Deletar link [id:{{link.id}}]{{/bs-tooltip}}
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</form>