{{#if isVisible}}
  {{#if (eq type 'link')}}
    <li class="nav-item">
      <LinkTo @route={{link.linkTo}}  {{on "click" this.closeSideMenu}} class="nav-link">
        {{{link.icon}}} <span> {{link.text}}</span>
      </LinkTo>
    </li>
  {{/if}}
  {{#if (eq type 'divisor')}}
    <hr class="sidebar-divider" />
  {{/if}}
  {{#if (eq type 'heading')}}
    <div class="sidebar-heading">
      {{link.text}}
    </div>
  {{/if}}
  {{#if (eq type 'external')}}
    <li class="nav-item">
      <a href={{link.linkTo}} {{on "click" this.closeSideMenu}} class="nav-link">
        {{{link.icon}}} <span> {{link.text}}</span>
      </a>
    </li>
  {{/if}}
{{/if}}