<tr>
  <td colspan="3" class="image-uploader-tr-thumbnail">
    <div class="row">
      <div class="col-md-2">
        <UI::Image @file={{args.image}} @size='thumbnail' />
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição / alt:</label>
          {{textarea value=args.image.description class="form-control" rows="2"}}
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-sm btn-outline-dark" {{on "click" this.updateDescription}}>
            <i class="fa fa-edit"></i> Salvar
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-outline-dark" {{on "click" this.removeImage}}>
          <i class="fa fa-remove text-danger"></i> {{t 'image.remove'}}
        </button>
      </div>
    </div>

  </td>

{{!--   <td class="image-uploader-tr-thumbnail">
    <UI::Image @file={{args.image}} @size='thumbnail' />
  </td>
  <td class="image-uploader-tr-description">

  </td>
  <td class="image-uploader-tr-actions">

  </td> --}}
</tr>