{{#bs-modal
  open=upload.modalOpen
  onSubmit=(action "upload")
  onHidden=(action "onHideUploadModal")
  class="file-selector-modal"
    as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-picture"></i> {{t 'image.selector'}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#if upload.error}}
      <div class="alert alert-danger text-center" role="alert">{{{upload.error}}}</div>
    {{else}}

      {{#bs-tab as |tab|}}
        {{#tab.pane title="Upload / enviar"}}

          <div class="image-selected-list">
            {{#each upload.imagesToUpload as |item|}}
              {{file-upload-image-item item=item}}
            {{/each}}
          </div>
          {{#unless upload.imagesToUpload.length}}
            {{file-upload-image-selector}}
          {{/unless}}

        {{/tab.pane}}
        {{#tab.pane title="Selecionar imagem salva"}}
          {{we-images-to-select onSelectImage=(action 'onSelectSalvedImage')}}
        {{/tab.pane}}
      {{/bs-tab}}

    {{/if}}
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default" class="cancel-image-btn"}}
      {{t 'Cancel'}}
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary" disabled=upload.notReadyToUpload class="submit-image-btn"}}
      Salvar imagens e adicionar
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}