<br>

{{!--
<img src="{{settings.systemSettings.logoUrlOriginal}}" class="img-square">
 --}}


<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  {{#if model.isLoading}}
    {{bootstrap-loading}}
  {{else}}

    {{#if settings.systemSettings.logoUrlOriginal}}
      <div class="login-project-logo">
        <img src="{{settings.systemSettings.logoUrlOriginal}}" class="img-square">
      </div>
    {{/if}}

    <div class="panel panel-primary">
      <div class="panel-body">
        <form class="form" {{action 'authenticate' on='submit'}}>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <label for="inputEmail" class="input-group-addon">{{t 'form-login-email'}}</label>
              {{input id='identification' type="email" placeholder=(t "form-placeholder-login-email") value=identification required="required" autofocus="true" class="form-control"}}
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <label for="inputPassword" class="input-group-addon"> {{t 'form-login-password'}} </label>
              {{input id='password' placeholder=(t "form-placeholder-login-password") type='password' value=password required="required" class="form-control"}}
            </div>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">{{t 'form-login-submit'}}</button> {{#link-to 'forgot-password'}}
            Recuperar senha
          {{/link-to}}
        </form>
      </div>
      <div class="panel-footer text-center">
        {{settings.systemSettings.siteName}}
      </div>
    </div>
  {{/if}}
</div></div>